.owl-carousel{
    .owl-dots{
        display: flex;
        justify-content: center;
        
        .owl-dot{
            border-radius: 50px;
            margin: 10px;
            height: 18px;
            &.active{
    
                span{
                    background-color: $color-primary;
                }
            }
            span{
                height: 18px;
                width: 18px;
        
                border: 2px solid $color-primary;
                display: inline-block;
    
                border-radius: 50px;
            }
        }
    }

    .tarjeta{
        margin: 10px;
        text-decoration: none;
        color: inherit;

        img{
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
    }
}