.what_to_see{
    .option{
        height: 250px;
        text-decoration: none;
        width: 50%;

        img{
            width: 100px;
        }

        p:not(.desc){
            font-weight: bold;
            color: black;
            font-size: 20px;
            margin-bottom: 0;
        }

        .desc{
            font-size: 15px;
            max-width: 80%;
            color: rgb(59, 59, 59);
        }

        @media (max-width: 987px) {
            width: 100%;
        }
    }
    @media (max-width: 987px) {
        flex-wrap: wrap;
    }
}