.tarjeta {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid rgba(238, 238, 238, 0.75);
    border-radius: 0.25rem;
    background-color: #fff;
    transition: all 0.25s;

    &.tarjeta-btn {
        &:hover {
            box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
        }

        &:active {
            box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
            background-color: rgb(238, 238, 238);
        }
    }
}

input:not([type="submit"]),
select {
    background-color: #edf0f3 !important;
    border: none !important;
    border-radius: 0.25rem;
    padding: 10px 15px !important;
}

input:not([type="submit"]) {
}

#searchWrapper {
    .enviar {
        top: 50%;
        transform: translateY(-50%);
        input {
            border: none;
            background-color: transparent;
            width: 32px;
            height: 32px;
            padding: 0;
        }

        i {
            pointer-events: none;
        }
    }
}

.puntuacionWrapper {
    i {
        color: rgb(255, 217, 0);
        margin-left: 5px;
    }
}

.icono_alergeno {
    width: 40px;
}

.imagenes_reseña {
    img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
}

.imagen_listado {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.reseña_destacada {
    //max-width: 300px;
    .imgWrapper {
        img {
            border-radius: 0.25rem;
        }
    }
}

.contrastFluid {
    background-color: #f5f5f5;
}

.text_clamp_2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp_3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fa-star {
    color: #f7ce5b;

    &.off {
        color: lightgray;
    }
}

.pfp {
    border-radius: 100% !important;
    width: 50px;
    height: 50px;

    background-image: url("../img/user_icon.png");
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

    img {
        border-radius: 100% !important;
        width: 50px;
    }
}

.no-hyperlink {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.img-card-responsive {
    img {
        @media (max-width: $media-lg) {
            height: 320px;
        }

        @media (max-width: $media-md) {
            height: 250px;
        }
    }
}
