$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;

//Colors

//$color-primary: #34a479;
$color-primary: #3ea758;
$color-primary-dark: #37914e;
$color-primary-deep-dark: #0e3b40;
$color-blue: #2a6cc2;