@charset "UTF-8";
.tarjeta {
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
          box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border: 1px solid rgba(238, 238, 238, 0.75);
  border-radius: 0.25rem;
  background-color: #fff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.tarjeta.tarjeta-btn:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
          box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
}

.tarjeta.tarjeta-btn:active {
  -webkit-box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
          box-shadow: 0 0 10px 0 rgba(112, 114, 117, 0.4);
  background-color: #eeeeee;
}

input:not([type="submit"]),
select {
  background-color: #edf0f3 !important;
  border: none !important;
  border-radius: 0.25rem;
  padding: 10px 15px !important;
}

#searchWrapper .enviar {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#searchWrapper .enviar input {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
}

#searchWrapper .enviar i {
  pointer-events: none;
}

.puntuacionWrapper i {
  color: #ffd900;
  margin-left: 5px;
}

.icono_alergeno {
  width: 40px;
}

.imagenes_reseña img {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagen_listado {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}

.reseña_destacada .imgWrapper img {
  border-radius: 0.25rem;
}

.contrastFluid {
  background-color: #f5f5f5;
}

.text_clamp_3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fa-star {
  color: #f7ce5b;
}

.pfp {
  border-radius: 100% !important;
}

body {
  margin: 0;
}

.controles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.controles button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  border-color: transparent;
  margin: 0 10px;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.controles button:hover {
  background-color: rgba(255, 255, 255, 0.404);
}

.controles button:active {
  background-color: rgba(145, 145, 145, 0.404);
}

.controles button.next {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>');
}

.controles button.prev {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>');
}

.controles button.pause {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
}

.controles button.play {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
}

.slider {
  position: relative;
  height: 500px;
  width: 900px;
  overflow: hidden;
}

.slider[data-reverse="true"] .slides .wrapper.disappear {
  -webkit-animation-name: disappearReverse;
          animation-name: disappearReverse;
}

.slider[data-reverse="true"] .slides .wrapper.appear {
  -webkit-animation-name: appearReverse;
          animation-name: appearReverse;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes disappearReverse {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes disappearReverse {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes appearReverse {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appearReverse {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slider[data-style="fade"] .slides .wrapper {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.slider[data-style="fade"] .slides .wrapper.disappear {
  -webkit-animation-name: disappearFade;
          animation-name: disappearFade;
}

.slider[data-style="fade"] .slides .wrapper.appear {
  -webkit-animation-name: appearFade;
          animation-name: appearFade;
}

@-webkit-keyframes disappearFadeReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappearFadeReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes appearFadeReverse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearFadeReverse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappearFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappearFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes appearFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.slider .slides .wrapper {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  left: 0;
  background: lightgrey;
  position: absolute;
}

.slider .slides .wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slides .wrapper.active {
  z-index: 20;
}

.slider .slides .wrapper.disappear {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 10;
}

.slider .slides .wrapper.appear {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@-webkit-keyframes disappear {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes disappear {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes appear {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appear {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slider .controles {
  position: absolute;
}

.social-wrapper .social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.social-wrapper .social-row i {
  font-size: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-wrapper .social-row i.fa-twitter {
  color: #00acee;
}

.social-wrapper .social-row i.fa-facebook {
  color: #39569c;
}

.social-wrapper .social-row i.fa-instagram {
  color: #E1306C;
}

.social-wrapper .social-row a {
  text-decoration: none;
}

.what_to_see .option {
  height: 250px;
  text-decoration: none;
  width: 50%;
}

.what_to_see .option img {
  width: 100px;
}

.what_to_see .option p {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .what_to_see .option {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .what_to_see {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel .owl-dots .owl-dot {
  border-radius: 50px;
  margin: 10px;
  height: 18px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #3ea758;
}

.owl-carousel .owl-dots .owl-dot span {
  height: 18px;
  width: 18px;
  border: 2px solid #3ea758;
  display: inline-block;
  border-radius: 50px;
}

.owl-carousel .tarjeta {
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.owl-carousel .tarjeta img {
  width: 100%;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.last_reviews_slider .review img {
  width: 50px;
}

.last_reviews_slider .review .review-text {
  color: #505050;
}

.last_pinchos_slider img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f3f3f3;
  background-image: url("../img/pincho_placeholder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  -webkit-animation-name: loadingPincho;
          animation-name: loadingPincho;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.last_pinchos_slider img::before {
  visibility: hidden;
}

@-webkit-keyframes loadingPincho {
  from {
    background-color: lightgray;
  }
  to {
    background-color: #f3f3f3;
  }
}

@keyframes loadingPincho {
  from {
    background-color: lightgray;
  }
  to {
    background-color: #f3f3f3;
  }
}

.best_slider .item {
  height: 600px;
}

.best_slider .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.best_slider .owl-nav button i {
  color: #1a1a1a;
  font-size: 50px;
}

.best_slider .owl-nav .owl-next {
  position: relative;
  right: -50px;
  float: right;
}

.best_slider .owl-nav .owl-prev {
  position: relative;
  left: -50px;
}

footer {
  background-color: #3ea758;
  color: white;
}

footer .container article {
  margin: 10px;
}

footer .container article ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .container article ul a {
  text-decoration: none;
  color: #e7e7e7;
}

@media (max-width: 576px) {
  footer .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 576px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#mainNav {
  background-color: #3ea758 !important;
}

.login_form {
  max-width: 500px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 25px;
}

#e404Wrapper {
  height: 100vh;
}

#e404Wrapper #e404 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 80%;
}

#e404Wrapper #e404 h1 {
  font-size: 200px;
}

#e404Wrapper #e404 p {
  font-size: 24px;
}

@media (max-width: 576px) {
  #e404Wrapper #e404 {
    width: 100%;
  }
  #e404Wrapper #e404 h1 {
    font-size: 150px;
  }
}
/*# sourceMappingURL=style.css.map */