body{
    display: flex;
    background-color: #f9fafb;
    
    main{
        min-height: 100vh;
        margin-left: 250px;
    }
}

#search{
    padding-left: 40px !important;
}

.save_btn{
    position: fixed;
    font-size: 24px;
    right: 0;
    bottom: 0;
    background-color: #28a745;
}