body{
    display: flex;

    main{
        min-height: 100vh;
        margin-left: 250px;
    }
}

#side_bar_admin{
    width: 250px;
    height: 100vh;
    position: fixed;

    .nav-link{
        &:hover{
            background-color: var(--bs-blue);
        }
    }
}