body {
    background-color: #f9fafb;
}
.tarjeta {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid rgba(238, 238, 238, 0.75);
    border-radius: 0.25rem;
    background-color: #fff;
}

input:not([type="submit"]),
select {
    background-color: #edf0f3 !important;
    border: none !important;
    border-radius: .25rem;
}

input:not([type="submit"]){
    padding: 5px 10px;
}

#searchWrapper {
    .enviar {
        top: 50%;
        transform: translateY(-50%);
        input {
            border: none;
            background-color: transparent;
            width: 32px;
            height: 32px;
            padding: 0;
        }

        i {
            pointer-events: none;
        }
    }
}

.puntuacionWrapper {
    i {
        color: rgb(255, 217, 0);
        margin-left: 5px;
    }
}

.icono_alergeno {
    width: 40px;
}

.imagenes_reseña {
    img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
}

.imagen_listado {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: .25rem;
}

.reseña_destacada{
    //max-width: 300px;
    .imgWrapper{
        img{
            border-radius: .25rem;
        }
    }
}