.page_user_zone {
    .profile_and_tabs {
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        .info {
            img {
                height: 200px;
                border-radius: 50%;
            }

            .big-pfp {
                height: 200px;
                width: 200px;
                border-radius: 50%;

                background-image: url("../img/user_icon.png");
                background-size: cover;
                background-position: center;
            }
        }

        .nav-link {
            color: $color-primary;

            &.active {
                background-color: $color-primary;
                color: white;
            }
        }
    }

    .reviews {
        .review {
            margin: 20px 0;
        }
    }

    #v-pills-tab{
        @media (max-width: $media-sm) {
            flex-direction: column;

            .nav-link{
                margin: 5px 0;
            }
        }
    }
}
