.social-wrapper {
    .social-row {
        display: flex;
        align-items: center;
        
        i {
            font-size: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.fa-twitter {
                color: #00acee;
            }

            &.fa-facebook {
                color: #39569c;
            }

            &.fa-instagram{
                color: #E1306C;
            }
        }

        a{
            text-decoration: none;
        }

        font-size: 20px;
    }
}
