.what_to_see{
    .option{
        height: 250px;
        text-decoration: none;
        width: 50%;

        img{
            width: 100px;
        }

        p{
            font-weight: bold;
            color: black;
            font-size: 20px;
            margin-bottom: 0;
        }

        @media (max-width: $media-sm) {
            width: 100%;
        }
    }
    @media (max-width: $media-sm) {
        flex-wrap: wrap;
    }
}