.bar-search-card {
    min-height: 224px;
    align-items: stretch;

    text-decoration: none;

    color: inherit !important;

    .imgWrapper {
        background-color: lightgray;
        background-image: url("../img/bar_placeholder.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;

        border-top-left-radius: 0.25rem;
        
        @media (max-width: $media-lg) {
            height: 300px;
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }
    }
    .address {
        display: flex;
        align-items: center;
        color: grey;

        p {
            margin: 0;
            margin-left: 10px;
        }
    }
}
