.pincho-search-card {
    min-height: 220px;
    align-items: stretch;

    text-decoration: none;

    color: inherit !important;

    .imgWrapper {
        background-color: lightgray;
        background-image: url("../img/pincho_placeholder.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;

        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;

        @media (max-width: $media-lg) {
            height: 320px;
        }

        @media (max-width: $media-md) {
            height: 250px;
        }
    }
    .address {
        display: flex;
        align-items: center;
        color: grey;

        p {
            margin: 0;
            margin-left: 10px;
        }
    }
}
