#side_bar_admin{
    width: 250px;
    height: 100vh;
    position: fixed;

    i{
        width: 28px;
    }

    .nav-link{
        &:hover{
            background-color: var(--bs-blue);
        }
    }
}